[submodule "third_party/serd"]
	path = third_party/serd
	url = https://github.com/drobilla/serd.git
[submodule "third_party/toxcore"]
	path = third_party/toxcore
	url = https://github.com/TokTok/c-toxcore.git
[submodule "third_party/jami-daemon"]
	path = third_party/jami-daemon
	url = https://github.com/savoirfairelinux/jami-daemon.git
